<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../views/partials/head', {siteTitle, rootDomain, pageUser}) %>
        <link rel="stylesheet" href="/templates/purpleboi/style.css">
</head>

<body class="tallTheme">
    <%- include('../../views/partials/header', { siteTitle, discordInvite, rootDomain, user: loggedInUser }) %>

        <div class="main_div_one">
            <div class="main_div_container">
                <div class="main_div_content">
                    <div class="profile_container">
                        <div class="profile_header">
                            <h1>Welcome to <%- pageUser.username %>'s page!</h1>
                            <% if (loggedInUser && loggedInUser.username===pageUser.username) { %>
                                <div class="edit_button">
                                    <a href="/dashboard">Edit Page</a>
                                </div>
                                <% } %>

                            </div>
                            
                            <div class="links_section">
                                <div class="links_container">
                                    <% if (links && links.length> 0) { %>
                                        <% links.forEach(function(link) { %>
                                            <div class="link_item">
                                                <a href="<%- link.url %>" target="_blank" rel="noopener noreferrer"
                                                    class="link_button">
                                                    <%- link.title %>
                                                </a>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        <div class="no_links">
                                            <p>No links added yet!</p>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <%- include('../../views/partials/footer', {siteTitle, rootDomain, version}) %>
</body>

</html>