<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../views/partials/head', {siteTitle, rootDomain, pageUser}) %>
        <link rel="stylesheet" href="/templates/animey/style.css">
</head>

<body class="animeyTheme">
    <%- include('../../views/partials/header', { siteTitle, discordInvite, rootDomain, user: loggedInUser }) %>

    <video src="/templates/animey/abra-ca-background.mp4" autoplay loop muted></video>
    <div class="main_div_one" style="background: transparent !important;">
        <div class="main_div_container">
            <div class="main_div_content">
                <div class="profile_container">
                    <div class="profile_header">
                        <% if (loggedInUser && loggedInUser.username===pageUser.username) { %>
                            <a href="/dashboard">
                                <div class="edit_button">
                                    Edit Page
                                </div>
                            </a>
                        <% } %>

                        <div class="links_section">
                            <div></div>
                            <div><h1>&lrm;</h1></div>
                            <div class="links_container">
                                <div class="links_filler">
                                    <% if (links && links.length> 0) { %>
                                        <% links.forEach(function(link) { %>
                                            <div class="link_item" title="<%- link.title %>">
                                                <a href="<%- link.url %>" target="_blank" rel="noopener noreferrer" class="link_button_link">
                                                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.6666 13.3333L10.0808 12.7475C9.29978 11.9664 9.29978 10.7001 10.0808 9.91905L14.5857 5.41416C15.3668 4.63311 16.6331 4.63311 17.4142 5.41415L18.5857 6.58572C19.3668 7.36677 19.3668 8.6331 18.5857 9.41415L16.9999 10.9999M13.3333 10.6666L13.919 11.2524C14.7001 12.0335 14.7001 13.2998 13.919 14.0808L9.41415 18.5857C8.6331 19.3668 7.36677 19.3668 6.58572 18.5857L5.41416 17.4142C4.63311 16.6331 4.63311 15.3668 5.41416 14.5857L6.99994 12.9999" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        <div class="no_links">
                                            <p>No links added yet!</p>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../views/partials/footer', {siteTitle, rootDomain, version}) %>
</body>

</html>